body{
    background-color: papayawhip;
}

.vertical_lines {
    width: 2px;
    height: 100%;
    margin-left: 35px;
    border-left: 1px solid firebrick;
    border-right: 1px solid firebrick;
    position: fixed;
    left: 35px;
    top: 0px;
    bottom: 0px;
}

.title {
    text-indent: 20px;
    margin-top: 20px;
    padding-top: 10px;
    margin-left: 65px;
}

.todo {
    padding-bottom: 10px;
    margin-left: 85px;
}

.tasks {
    text-indent: 75px;
    padding: 10px;
    border-bottom: 2px dotted steelblue;
}

.success {
    margin-left: 20px;
    color:forestgreen;
}

.error {
    margin-left: 20px;
    color: firebrick;
}